* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
    cursor: url('../images/icons8-chatgpt-20.png'), auto;
}


body {
  font-family: "Poppins", sans-serif;
  color: #c5c5c5;
}

canvas { 
  display: block; 
  vertical-align: bottom; 
}
  
#particles-js { 
  position: fixed;
  width: 100%; 
  height: 100%;
  background-color: black;
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
} 
a {
  text-decoration: none;
}
header {
  /*background-color: #222;*/
}
nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}
.logo img {
  width: 60px;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.navbar div {
  padding: 20px 10px;
}
.navbar a {
  background: var(
    --Blue-Gradient,
    linear-gradient(180deg, #c5c5c5 0%, black 150%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.navbar a:hover {
  background: var(
    --Primary-Gradient,
    linear-gradient(180deg, #ffffff 0%, rgb(0, 0, 0) 200%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 450px) {
  .navbar a {
    font-size: 12px; 
  }
}

@media (max-width: 350px) {
  .navbar a {
    font-size: 10px; 
  }
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .avatar img {
  width: 250px;
  border-radius: 50%;
  box-shadow: 0 0 10px #00f0ff, 0 0 20px #0077ff;
} */

/* @media (max-width: 500px) {
  .avatar img {
    width: 250px;
  }
} */

/* @media (max-width: 480px) {
  .avatar img {
    width: 200px;
  }
} */

.about {
  text-align: center;
  padding: 20px;
}
.about-text {
  width: 90%;
  max-width: 652px;
  margin: 30px auto;
}
.about-text h1 {
  background: var(
    --Blue-Gradient,
    linear-gradient(180deg, #c5c5c5 0%, rgb(0, 0, 0) 150%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8vw;
  line-height: 1;
}
/* .about-text h1 > span {
  background: var(
    --Primary-Gradient,
    linear-gradient(180deg, #5badff 0%, #1373d1 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */


.job{
  display: flex;
  justify-content: center ;
  align-items: center;
}

.job-loader {
  
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.job-words {
  overflow: hidden;
  position: relative;
}

.word {
  display: block;
  height: 100%;
  font-size: 55px;
  line-height: 1;
  font-weight: bold;

  background: var(
      --Blue-Gradient,
      linear-gradient(180deg, #c5c5c5 0%, black 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  animation: change 4s infinite; 
  

}

#word2 {
   
  font-size: 55px;
  line-height: 1;
  font-weight: bold;


    background: var(
      --Primary-Gradient,
      linear-gradient(180deg, #01478d 0%, #1373d1 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  animation: change 4s infinite; 


}

@keyframes change {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}




.about-text p {
  font-size: 4vw;
  margin-top: 30px;
}
.about-btn {
  margin-top: 30px;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .about-text h1 {
    font-size: 55px;
  }
  .about-text p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .word {
    font-size: 35px; /* reduz fonte no mobile */
  }

  #word2 {
    font-size: 35px;
  }
}

.btn-primary {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(255, 255, 255);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.btn-primary span {
  margin: 10px;
}

.btn-primary::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.btn-primary:hover {
  color: #fff;
  border: 1px solid rgb(0, 119, 181);
}

.btn-primary:hover::before {
  box-shadow: inset 0 0 0 10em rgb(0, 119, 181);
}


.btn-secondary {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(255, 255, 255);
  fill: white;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.btn-secondary span {
  margin: 10px;
}

.btn-secondary::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: "";
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.btn-secondary:hover {
  color: #000000;
  border: 1px solid rgb(255, 255, 255);
  fill: black;
  transition: 0.5s ease-out;

}

.btn-secondary:hover::before {
  box-shadow: inset 0 0 0 10em rgb(255, 255, 255);
}

 .btn-cv {
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  padding-left: 8px;
  padding-right: 25px;
  font-size: 17px;
  font-weight: 600;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  color: rgb(255, 255, 255);
  transition: color 0.3s 0.1s ease-out;

}

.btn-cv:hover {
  background-color: rgba(255, 255, 255, 0.137);
  cursor: pointer;
}

.btn-cv svg {
  flex-shrink: 0;
  margin: 10px;
}

.tooltip {
  position: absolute;
  bottom: -2.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  font-size: 0.75rem;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.btn-cv:hover .tooltip {
  opacity: 1;
  /* background-color: white;
  color: black; */
}


.formacao-with {
  text-align: center;
}

.formacao-with h2 {
  background: var(
    --Blue-Gradient,
    linear-gradient(180deg, #c5c5c5 0%, black 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}

.formacao-with-lang {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  width: 100%;
  margin: 50px auto;
  cursor: pointer;
}

.formacao-with-lang img {
  width: 42px;
  margin: 0 auto;
}

@media (max-width: 550px) {
  .formacao-with-lang {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  .formacao-with-lang img {
    width: 30px;
  }
}


.primary-heading {
  text-align: center;
  font-size: 25px;
}
.heading-project {
  background: var(
    --Blue-Gradient,
    linear-gradient(180deg, #c5c5c5 0%, black 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projects {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  flex-wrap: wrap;
}
.project-item {
  background: #2a2a2a;
  margin: 20px;
  border-radius: 18px 18px 0 0;
  flex: 1 1 calc(50% - 40px); 
  box-sizing: border-box;
}
.project-item img {
  width: 100%;
  border-radius: 18px 18px 0 0;
}
.project-title {
  padding: 15px;
}

.project-title p {
  text-decoration: none;
  color: #c5c5c5;
}
.project-title h3 {
  color: #fff;
}

@media (max-width: 650px) {
  .project-item {
    flex: 1 1 100%;
    font-size: 12px;
  }
}

.heading-formacao {
  background: var(
    --Blue-Gradient,
    linear-gradient(180deg, #c5c5c5 0%, black 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.formacao-item {
  padding: 30px 50px 50px 50px;
  background-color: #191919;
  border-radius: 20px;
  text-align: justify; 
}

.formacao-title-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 20px;
  flex-wrap: wrap; 
}

.formacao-title-container .date {
  margin-left: auto;
  font-size: 14px; 
}

.formacao-title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .formacao-title-container {
    flex-direction: column; 
    align-items: center;
    text-align: center; 
  }

  .formacao-title-container .date {
    margin-left: 0;
    margin-top: 10px; 
    font-size: 16px; 
  }

  .formacao-title {
    font-size: 18px; 
  }
}
footer {
  background-color: #191919;  
  fill: #c5c5c5;
  text-align: justify;
}
footer h2 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 20px;

}
footer p {
  font-size: 15px;
}


.social-links {
  display: flex;
  margin-top: 40px;
}
.social-links svg {
  margin-right: 20px;
}
